section.new-tweet{
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background: #eee;
  margin: 2em;
  padding: 1em;
}

section.new-tweet > h2 {
  border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
  margin-top: 0;
}


textarea {
  width: 100%;
}

span.counter {
  float: right;
}

p {
  word-break: break-all;
}
